*{
	padding: 0;
	margin: 0;
}

body{
	font-family: Verdana, Geneva, sans-serif;
	text-align: center;
}

img{
	width: 200px;
	height: 200px;
}

p, ul{
	margin: 5px 0px 5px 0px;
	text-align: justify;
	font-size: small;
}

ul{
	list-style-position:inside;
	margin-left: 20px;
}

a, .path{
	color: white;
}

.content{
	width: 96%;
	margin: 1px auto 1px auto;
	overflow: hidden;
}

.center{
	margin: auto;
}