*{
	padding: 0;
	margin: 0;
}
body{
	font-family: Verdana, Geneva, sans-serif;
}
p.msg{
	background-color:green;
	margin: 0px 0px 2px 0px;
	padding-left: 4px;
	padding-right: 4px;
}
.left{
	float: left;
}

#main{
	#display: none;
	width: 100%;
	height:100%;
	#text-align: center;
}


#admin{
	background-color: black;
	height: 100%;
	width: 26%;
	min-width: 300px;
}


#header{
	height: 40px;
	vertical-align: middle;
}
#header div{
	display: table;
}
#header span{
	vertical-align: middle;
	display: table-cell;
}
#header img{
	vertical-align: middle;
	display: table-cell;
	margin-left: 10px;
}


#menu{
	color: white;
	height: 100%;
	width: 62%;
	float: left;
	position:relative;
}
#menu:hover{
	background-color:gray;
}

#room{
	color: white;
	height: 100%;
	width: 38%;
	float: none;
    position: relative;
}
#room:hover{
	background-color:gray;
}


#content{
	width: 100%;
	height: 90%;
	background-color:white;
	display: inline-block;
}


#left{
	background-color: #ff9900;
	min-height: 300px;
	height: 100%;
	width: 64px;
	float: left;
	position:relative;
	font-size: x-small;
	text-align: center;
}


.hidden-scrollbar{
	overflow:hidden;
}
.hidden-scrollbar .openchats {
	height:100%;
	overflow-y:scroll;
	overflow-x:hidden;
	margin:0px -292px 0px 0px;
	padding-right:274px;
}

.chat{
	border-bottom: 1px solid #ffebcc;
	padding-top: 2px;
}
.chat:hover{
	background-color: #804d00;
	color: white;
}

.avatar{
	width: 25px;
	height: 25px;
	margin:auto;
	
	background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
}


#right{
	min-height: 300px;
	height: 100%;
	float: none;
	font-size: small;
	border-right: 1px solid #e0e0d1;
}


#msgs{
	height: 88%;
	text-align: left;
	vertical-align:top;
	overflow-y: auto;
}
#writer{
	height: 12%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 1px solid #e0e0d1;
}
#chatinput{
	height: 90%;
	width: 72%;
	margin-right: 4px;
}
.mini{
	min-width: 50px;
	width: 24%;
	min-height: 20px;
	height: 90%
}

#footer{
	padding-top: 3px;
	text-align:center;
	color: white;
}
p.footer_text{
	font-size: x-small;
}

/*
#chat{
	display:none;
}
.visible{
	display: block !important;
}

element.classList.add('_');
element.display.visible;

//cloning element
return all the content 'element.innerHTML'
element2 = createElement('div');
element2.innerHTML = element;

*/